.profileCard {
  width: auto;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid grey;
  text-align: center;
  flex-grow: 1;
}

.profileCard img {
  border-radius: 50%;
  border: 1px solid #444 !important;
}
